/* Ignore => Base Styles */
body { 
  background: #003300; 
}
.ScrollSceneIndicators { z-index: 9999999 !important; }
#scene{
  padding: 100px;
}
.svg-container {
  position: relative;
  text-align: center;
/*  width: 360px;
  height: 110px;*/
  /*margin: 40vh auto 0 auto;*/
}
#once {
  position: relative;
}
#myonce{
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  opacity: 0;
  fill: white;
/*  animation: draw 5s linear forwards;
  -webkit-animation: draw 8s linear forwards;
  -moz-animation: draw 8s linear forwards;
  -o-animation: draw 8s linear forwards;*/
  font-weight: bold;
}
#attempt {
  position: relative;
  width: 780px;
  height: 400px;
}
#mycanvas {
  position: relative;
  width: 633.79px;
  height: 52.77px;
}
.mytitle{
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 1;
  animation: draw 5s linear forwards;
  -webkit-animation: draw 8s linear forwards;
  -moz-animation: draw 8s linear forwards;
  -o-animation: draw 8s linear forwards;
  font-weight: bold;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Create huge scrolling area (imitates height of a page) */
main { 
  padding: 200px 0 700px 0;
  overflow: hidden; 
}

/* Default Animation Styles */
#animation {
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 50px auto;
  background-image: url("../img/peppermint.svg");
  /*position: relative;*/
}
